<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet"  href="https://drive.google.com/file/d/1JD8T4p0XvTrFGrsLtz9x0WO9ttpB5kQ_/view?usp=sharing">
        <link rel="stylesheet"  href="https://drive.google.com/file/d/1flrtA0uXHfQiewJEcnmSXVqaTLSGldZ-/view?usp=sharing">
    <script>
        $(document).ready(function() {
                $(function () {
                        $('#novaRezervace').click(function () {
                            $(".form-date-time").slideToggle(200);
                        })
                    }
                )
            }
        );
    </script>
    <style>
        *{
            box-sizing: border-box;
            font-family: "Rubik";
        }
        body{
            margin: 0;
        }
        main{
            position: relative;
            width: 80vw;
            margin: auto;
        }
        nav,footer{
            height: 70px;
            background-color: rgb(120,190,20);
        }
        nav ul{
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            line-height: 4.5em;
            margin: auto 30px 0 0;
        }
        table{
            width: 100%;
            border: 2px solid black;
            margin-bottom: 5%;
        }
        table tbody tr{
            border: 2px solid black;
        }
        table thead{
            border: 2px solid black;
        }
        tr{
            text-align: left;
        }
        td{
        }
        .form-date-time{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            top: 70px;
            right: 0;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }
        #novaRezervace:hover{
            background-color: rgba(120,190,20,0.5);
        }
        .rez-header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 6%;
        }
        #novaRezervace{
            height: 40px;
            background-color: rgb(120,190,20);
            border: 0;
            border-radius: 10px;
            margin-top: 20px;
        }
        .zrusit{
            padding: 10px;
            border-radius: 10px;
            border: 1px solid black;
            float: right;
        }
        .zrusit:hover{
            transition: 0.3s;
            background-color: rgb(120,190,20);
        }
        footer{
            position:absolute;
            bottom:0;
            width:100%;
        }
        #odhl:visited{
            color: black;
        }
        .zrusit{
            color: black;
            text-decoration: none;
        }
        .zrusit:visited{
            color: black;
        }
        #chyba{
            position: relative;
            bottom: -100px;
            color: orangered;
        }
    </style>
    {% endblock %}
</head>
<body>

<nav>
    {% block nav %}
    <ul>
        <li>Dobrý den,{{ first_name }}</li>
        <li>Dnešní otevirací doba:{{ time_from|date('H:i') }}-{{ time_to|date('H:i') }}</li>
        <li><a id="odhl" href="{{ username }}/logout" methods="post">Odlhásit se</a></li>
    </ul>
    {% endblock %}
</nav>

<main>
    {% block main %}
<div class="rez-header">
    <H1>Moje rezervace</H1>
    <button id="novaRezervace">+ nová rezervace</button>
      <div class="form-date-time">
        <form method="post" action="{{ username }}/new_apt">
            <label for="aptdate">Datum:</label>
            <input type="date" name="aptdate">
            <label for="apttime">Čas:</label>
            <input type="time" name="apttime">
            <input type="submit">
        </form>
    </div>
    </div>
         <table>
            <thead>
            <tr>
                <th>Datum</th>
                <th>Čas</th>
                <th>Studijní referent(ka)</th>
                <th>Potvrzeno</th>
            </tr>
            </thead>
             <tbody>
             {% for apts in appointment %}
                 <tr>
                     {% set id = apts['id'] %}
                     <td>{{ apts['aptdate']|date("d/m/Y") }}</td>
                     <td>{{ apts['apttime']|date('H:i')  }}</td>
                     <td>{{ apts['employee_id'] }}</td>
                     <td>{% if apts['accepted'] == 1 %}
                         ano
                         {% else %}
                         ne
                         {% endif %}
                     </td>
                     <td><a class="zrusit" href="{{ username }}/delete/{{ id }}"> Zrušit </a></td>
                </tr>
                {% endfor %}
             </tbody>
        </table>
        {% if message is defined %}
            <a id="chyba">{{ message }}</a>
        {% endif %}
{% endblock %}
</main>

<footer></footer>
</body>
</html>